*{
background-color: rgb(210, 204, 204);
}
.MainContainer {
    display: flex;
    flex-direction: column; 
}

p{
    color: rgba(72, 116, 72, 0.767);
    background-color: white;
}


.Content {
    display: flex; 
    flex: 8; 
    gap: 5px;
    
}

.Center {
    flex:1; 
    padding: 20px; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.Left {
    flex: 0 0 200px;
    padding: 2px;
}

.Right {
    flex: 0 0 200px; 
    padding: 20px;
}

.Text{
    flex:1;
    text-align: justify;
    border-radius: 10px;
    background-color: white;
    color: white;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px; 
}

.imgclass{
    float: left;
    width: 200px; 
    height: auto; 
    margin-right: 10px; 
    margin-left: 10px; 
    padding-top: 10px;
    background-color: white;
    color: white;
}


.Left ul
{
    list-style-type: none;
}

.Left li {
    display: flex;
    align-items: center;
    margin: 20px 0;
    
}

.Right {
    padding: 25px;
    width: 10%; 
    text-align: center;
}

.Right i {
    display: block; 
    font-size: 55px; 
    padding: 10px
}



.NavBar {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    background-color: #78916a;
    padding: 20px; 
    text-align: left; 
}

.websiteicon {  
    color: #505c49;
    font-size: 25px;
    text-align: left; 
    background-color:#78916a;
}

.usericon {
    color: #505c49;
    font-size: 20px;
    text-align: center; 
    display: flex;
    flex-direction: column; 
    background-color:#78916a;

}
.fa-globe,.fa-user
{
    background-color:#78916a;
    font-size: 12px;
    padding-right: 15px;
}


.Left img {
    width: 40px; 
    height: auto;
    margin-right: 10px;
    border-radius: 10%;
}
